*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body {
    overflow-x: hidden;
}

.navigation-bar
{
    background-color: rgb(203, 237, 252);
    
}
.nav-head
{
    height: 8vh;
    width: 100%;
    background-color: rgb(32, 32, 108);
    color: white;
    text-align: center;
    justify-content: center;
    padding: 2% 5%;
    font-family: "Oswald", sans-serif;
}
.btn-head
{
    color: rgb(32, 32, 108);
    background-color: skyblue;
    border: none;
    border-radius: 24px;
    padding: 4px 8px;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    
}
.btn-head:hover{
    color: white;
    background-color: rgb(8, 159, 219);
}

/* #menu-icon
{
display: none;
} */

label #menu-btn,
label #cancel
{
    display: none;
}
#check{
    display: none;
}
.nav-logo
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 8px solid #062c6f;
    size: 3.5rem;
    font-size: 2rem;
    background-color: white;
    color: #062c6f;
    /* padding: 0 5px; */
    margin:5px;
}
.nav-sup
{
    font-size: 10px;
}
.button-container {
    /* display: flex; */
    gap: 20px;
}

.tooltip-button {
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    font-size: 1em;
    color: #062c6f;
    background-color: rgb(203, 237, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}


/* Tooltip styling */
.tooltip-button .tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: white;
    color: #062c6f;
    text-align: center;
    padding:5px;
    border-radius: 10px;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9em;
    z-index: 1;
    
}
.tooltip-button .tooltip-text li{
    padding: 10px 0;
    list-style: none;

    
}
.tooltip-button .tooltip-text li:hover{
    border: 1px ;
    background-color: rgb(203, 237, 252);
    margin: 4px;
    border-radius: 20px;
    
}
.tooltip-button .tooltip-display
{
    display: flex;
    width: 1400px;
    justify-content: space-around;
    margin-left: 220px;

}
  .tooltip-display .coco
{
background-color: rgb(203, 237, 252);

}
.tooltip-display .coco:hover
{
background-color: skyblue;

}
  .tooltip-display .sparkling
{
    background-color: lemonchiffon;;

}
.tooltip-display .sparkling:hover
{
background-color: green;
}
  .tooltip-display .soda
{
    background-color: lightcoral;

}

.tooltip-display .soda:hover
{
background-color: darkred;
}
  .tooltip-display .bars
{
    background-color: rgb(150, 216, 242);

}
.tooltip-display .bars:hover
{
background-color: rgb(11, 127, 173);
}


/* Show the tooltip when hovering */
.tooltip-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Positioning arrows for tooltips */
.tooltip-button .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-70%);
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
img{
    height: 10vh;
    width: 10vh;
    color: rgb(32, 32, 108);
}

li,a,button{
    font-size: 18px;
    font-weight: 900;
    color: rgb(32, 32, 108);
    text-decoration: none;
}
.nav-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    color: rgb(32, 32, 108);

}
/* .nav-link
{
    list-style: none;
    display: flex;
    
}
.nav-link li
{
    display: inline-block;
    padding: 0 20px;
    
}
.nav-link li a{
    transition: all .3s ease-in-out 0s;
    font-size: 22px;
} */

.nav-style a{
    padding: 0 20px;
}
.nav-style{
    display: flex;
    font-size: 25px;
    font-weight: 800;

}

.nav-lower
{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(32, 32, 108);
    font-size: 25px;
    font-weight: 1500;
    width: 98%;
    
     
    
}
.navlower-h3{
font-size: 19px;
}

.plants
{
    color: green;
}


/* .img-container
{
    /* position: relative; */
    /* width: 300px; */
    /* display: flex; */
    
 
/* .animation
{
    position: absolute;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    height: 68vh;
    width: 90vh;
    border-radius: 18px;
    /* padding: 1% 2%; */
    /* margin: 20px;
} */ 

.animation
{
    
    text-align: center;
    height: 90vh;
    position: relative;
    top: 0;
    left: 0;
    padding-left:10%;
    padding-top: 15%;
    width: 90%;
    justify-content: center;
    border-radius:25px;   
}

.backDesign
{
    width: 95%; 
     height: 100vh;
     align-items: center;
     justify-content: center;
     border-radius: 25px;
     position: absolute;
     margin-left: -75px;
   
     
}
.backDesign-footer
{
    width: 108%; 
     height: 110vh;
     align-items: center;
     justify-content: center;
     border-radius: 25px;
     position: absolute;
      
     /* margin-left: -9px; */
}

#btn
{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(32, 32, 108);
    border: none;
    border-radius: 37px;
    align-items: center;
    padding: 3.5% 7%;
    margin-top: 20px;

}
#btn:hover{
    background-color: rgb(8, 159, 219);
}

[class*="col-"]
{
    float: left;
    padding: 10px;
}

/* for mobile */
[class*"col-"]
{
    width: 100%;
}


.navbar
{
    padding: 1% 6%;
    text-align: center;
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}

.section-wave
{
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    background-color: rgb(203, 237, 252);
}

section .wave 
{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100px;
 background: url(/Images/wave.png);
 background-size: 1000px 100px; 
}

section .wave
{
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


/* navbar ends here */

/* products section starts here */
.product-headline
{
    text-align: center;
    color: #062c6f;
    background-color: #fff;
    font-size: 24px;
}
 .products
{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: #fff;
    /* position: relative; */
    
    /* margin-left: 30px; */
    
    
}


.back-img-hover{
    width: 50vh;
    height: 50vh;
    /* margin-right: -90px; */
    position: absolute;

}

.card{
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
    padding: .5rem;
    transition: all .3s;
    
    

    /* margin: auto; */
    /* width: 98%; */
    /* height: 82vh;
    width: 44vh;
    margin: 40px;
    gap: 1.5rem; */
}

.card:hover {
box-shadow: .1rem 0.2rem 0.8rem rgba(205,202,202,1);

}
.card:hover .product-name{
    color: white;
}

 .card:hover
{
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* background: url(/photo/Mandala_v2_o.svg) no-repeat center center; */
    /* background-size: cover;
    transition: transform 1s ease; /* Smooth rotation */
    /* z-index: -1; */ 
    background-image: url(/Images/Mandala_v2_o.svg); 
    
}  


img:hover background-image{
    transform: rotate(360deg) ;
}

.product_img
{
    width: 100%;
    height: 15rem;
    /* position: relative; */
   
}
#img2
{
    width: 100%;
    height: 15rem;
}
.product-imges
{
    position: relative;
}
.product-imges img{
    position: absolute;
    /* width: 100%;
    height: 100%; */

}
/* .product-imges #img1
{
    display: block;
}
.product-imges #img1:hover
{
    display: none;
}
.product-imges #img2
{
    /* display: none; */
/* }
.product-imges #img2:hover{
    opacity: 0;
    cursor: pointer;
    width: 120%;
    height: 100%;
    display: block;
    cursor: pointer;

} */ 
/* .product-imges #img1:hover{
    display: block;
} */

.image-container {
    position: relative;
    width: 96%; /* Adjust as per your image size */
    height: 400px; /* Adjust as per your image size */
     
}
.default-image,
.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     
     
    transition: opacity 0.4s ease-out;
}

.hover-image {
    opacity: 0;
     
}

.image-container:hover .hover-image {
    opacity: 1;
    
}

.image-container:hover .default-image {
    opacity: 0;
}

/* Background image */
/* .rotating-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/photo/Mandala_v2_o.svg) no-repeat center center;
    background-size: cover;
    transition: transform 1s ease; /* Smooth rotation */
    /* z-index: -1; Ensure it stays behind the images */
/* } */ 
/* Rotation effect on hover */
/* .image-container:hover .rotating-background {
    transform: rotate(360deg);
} */
.product-body
{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
   
}
.product-name
{
    text-align: center;
    justify-content: center;
}

.h3-coco
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}
/* .h3-coco:hover
{
    color:white;
} */

.h3-sparkling
{
    color: green;
    font-size: 20px;
    font-weight: 1000;
}
/* .h3-sparkling:hover
{
    color: white;
} */
.h3-soda
{
    color: rgb(174, 5, 5);
    font-size: 20px;
    font-weight: 1000;
}
/* .h3-soda:hover
{
    color: white;
} */
.h3-bars
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}
/* .h3-bars:hover
{
    color: white;
} */

.sup-style
{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 8px;
    padding: 1px;
}
.card:hover .sup-style
{
    border: 1px solid white;
    border-color: white;
}

.btn{
    
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 24px;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin: 20px;
    margin-left: 45px;
}
.btn-coco
{
    background-color: #062c6f;
}
.card:hover .btn-coco
{
    background-color: white;
    color: #062c6f;
}
.btn-sparkling
{
    background-color: green;
}
.card:hover .btn-sparkling
{
    color: green;
    background-color: #fff;
}
.btn-soda
{
    background-color: rgb(214, 20, 20);
}
.card:hover .btn-soda
{
    background-color: white;
    color:rgb(214, 20, 20) ;
}
.btn-bars
{
    background-color: #062c6f;
}
.card:hover .btn-bars
{
    background-color:white ;
    color:#062c6f ;
}
.products .coco
{
background-color: rgb(203, 237, 252);

}
.products .coco:hover
{
background-color: skyblue;

}
.products .sparkling
{
background-color: lemonchiffon;
}
.products .sparkling:hover
{
background-color: green;
}
.products .soda
{
background-color: lightcoral;
}
.products .soda:hover
{
background-color: darkred;
}
.products .bars
{
background-color: rgb(150, 216, 242);
}
.products .bars:hover
{
background-color: rgb(11, 127, 173);
}



.probtn
{
    text-align: center;
    justify-content: center;
     /* top: 50%;
    left: 50%; */
    /* translate: (-50%,-50%); */
    /* position: relative; */
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #062c6f;
    margin-left: 50px ;
    border: none;
    
    
}
.probtn a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
}
.probtn:hover
{
    background-color: rgb(10, 128, 175);
}
/* 


.product:hover
{
    background-image: url(/photo/background.jpg);
    background-position-x: center;
    background-size: 40vh;
    background-position-y: bottom;
    background-repeat: no-repeat;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */ 
  /*  
}

/* .card:hover
{
    
    /* background-image: url(/photo/coconut-water-hover.jpg); */

/* .probtn
{
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 40%;
    translate: (-50%,-50%);
    position: relative;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #062c6f;
    margin: 30px;
    border: none;
}
.probtn a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
} */



/* products sections ends here */



/*footer section starts here */

footer
{
    text-align: center;
    background-color: skyblue;
    color: #062c6f;
}

.logo-footer
{
    height: 70vh;
    width: 70vh;
    margin: 65px;
    /* background-image: url(/photo/Mandala_v2_o.svg); */
    padding: 5rem ;
    /* border: 1px solid ; */
    /* position: absolute; */
    
}
.footer-back
{
    position: absolute;
    width: 90vh;
    height: 80vh;
    margin-top: 30px;
}

.input-footer
{
    width: 96%;
    height: 12vh;
    border-radius: 20px;
    border: none;
    padding: 1% 2%;
    font-size: 20px;
    align-items: left;
    margin-left: 20px;
    
    
}
.btn-footer
{
    color: white;
    background-color: #062c6f;
    margin-left: -140px;
}
.h3-footer
{
    font-size: 28px;
    padding: .5rem 0;
    /* text-align: center; */
}
.h3-footer span
{
    color: white;
}
.h4-footer
{
    text-align: left;
    margin-left: 20px;
    font-size: 29px;
    font-weight: 1000;
}
.des-footer
{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding: .5rem 0;
}
.h6-footer
{
    margin: 20px;
    padding: 10px;
    text-align: left;
}
.footer-link a{
    padding: 10px 15px;
    margin: 10px 0;
}
.footer-link a:hover{
    color: #062c6f;
    background-color: white;
    padding: 0 20px;
    border-radius: 20px;
    transition: 0.7s all;
}
.footer-email-address
{
    padding: 1rem 0;
    display: block;
     
}
/* .social-footer
{
    margin-top: 20px;
} */

.social-links{
    margin:20px;
    
    
}
.social-links .insta:hover{
    color: lightblue;
}
.social-links .face:hover{
    color: lightblue;
}
.social-links .twitt:hover{
    color: lightblue;
}
.social-links .insta
{
    border: 1px solid #062c6f;
    padding: 1%;
    border-radius: 50%;
    background-color: #062c6f;
    color: white;
}
.social-links .face
{
    border: 1px solid #062c6f;
    padding: 1%;
    border-radius: 50%;
    background-color: #062c6f;
    color: white;
}
.social-links .twitt
{
    border: 1px solid #062c6f;
    padding: 1%;
    border-radius: 50%;
    background-color: #062c6f;
    color: white;
}

.social-footer h3
{
    margin-top: 20px;
}

.footer-btn
{
    background-color: #062c6f;
    padding: 1rem 2.5rem;
    align-items: left;
    margin-left: 20px;
}
.wavy
{
    position: relative;
    width: 95%;
    height: 100px;
    /* background: red; */
    overflow: hidden;

}
.wavy::before{
    content: ' aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
    position: absolute;
    top: -42px;
    left: 0;
    padding: 4rem;
    font-size: 3em;
    color: transparent;
    text-decoration-style:wavy;
    text-decoration-color: #062c6f;
    text-decoration-line: underline;


}

.footer-end
{
    display: flex;
    flex-direction: column;
    padding: .5rem;

}
.footer-end a{
    padding: 1rem;
}

.footer-end-link {
display: flex;
flex-direction: column;
}
.footer-end a:hover{
    color: #062c6f;
    background-color: #fff;
    border-radius: 25px;
    transition: .7s all;
    padding: .5rem .5rem;
    
}

/* menu click button design starts here */

.nav-menupage
{
    display: flex;
    justify-content: space-between;
}
.nav-menu-btn button
{
    padding: .5rem 2.5rem;
    border-radius: 20px;
    margin-left: 35%;
    border: none;
    background-color: aqua;
}
.nav-menu-link
{
display: flex;
flex-direction: column;
}
.img-menuicon{
    width: 45vh;
    height: 45vh;
    margin-left: 30%;
}
.fa-times
{
    padding-top: .5rem;
}
/* menu click button design ends here */


.products{
    grid-template-columns: repeat(4, minmax(0,1fr));
}

@media (max-width: 1112px)
{
    label #menu-btn
    {
        display: block;
    }

/* #menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
    } */

    .products{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .probtn{
        margin-left: 220px;
    }
    /* #menu-icon
    {
        display: block;
    } */
    .hidden
    {
        display: none;
    }

    /* menu-icon.html{
      display: block;
    } */
    /* .nav_link
    {
position: fixed;
width: 100%;
height: 100vh;
background: wheat;
top: 80px;
display: block;
left: -100%;
text-align: center;
transition: all .5s;

    }
    #btn:checked ~ .nav_link{
        left: 0;
    }
      */
      .nav-head{
        width: auto;
        
       }
   .navigation-bar{
    width: auto;
   }
   .section-wave{
    width: auto;
   }
   header{
    width: auto;
   }
     
      footer{
        overflow-x: hidden;
      }
      body{
        overflow-x: hidden;
      };
}
/* @media (max-width:768) {
    body{
        overflow-x:hidden ;
    }
} */
@media (max-width:575px)
{
     
    .products{
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
    .product-btn{
        width: 100%;
        height: 80%;
        margin-left: -90px;
    }
    .probtn{
        margin-left: 180px;
    }
    /* .footer-upper{
        width: 95%;
    } */
    /* .backDesign-footer{
    width: 50%;
    /* align-items: center;
    justify-content: center;
    margin-left: -2920px; */
    /*top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    } */
    body {
        overflow-x: hidden;
    }
   html{
    width: 100%;
   }
   /* .footer-logo-style{
    margin-left: -17%;
   } */
   .logo-footer{
    width: 80%;
    height: 50%;
   }
.input-footer{
    width: 80%;
}
body{
    overflow-x: hidden;
  };
}

@media (max-width:320px)
{
    body{
        overflow-x: hidden;
        width:100%;
    }
    .footer-logo-style{
        margin-left: -47%;
        height: 50%;
        width: 30%;
       }
       body{
        overflow-x: hidden;
      };
}