*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.navigation-bar
{
    background-color: rgb(203, 237, 252);
}
.nav-head
{
    height: 8vh;
    width: 100%;
    background-color: rgb(32, 32, 108);
    color: white;
    text-align: center;
    justify-content: center;
    padding: 2% 5%;
    font-family: "Oswald", sans-serif;
}
.btn-head
{
    color: rgb(32, 32, 108);
    background-color: skyblue;
    border: none;
    border-radius: 24px;
    padding: 4px 8px;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    
}
.btn-head:hover{
    color: white;
    background-color: rgb(8, 159, 219);
}

.nav-logo
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 8px solid #062c6f;
    size: 3.5rem;
    font-size: 2rem;
    background-color: white;
    color: #062c6f;
    /* padding: 0 5px; */
    margin:5px;
}
.nav-sup
{
    font-size: 10px;
}

img{
    height: 10vh;
    width: 10vh;
    color: rgb(32, 32, 108);
}

li,a,button{
    font-size: 18px;
    font-weight: 900;
    color: rgb(32, 32, 108);
    text-decoration: none;
}
.nav-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    color: rgb(32, 32, 108);

}
/* .nav-link
{
    list-style: none;
    display: flex;
    
}
.nav-link li
{
    display: inline-block;
    padding: 0 20px;
    
}
.nav-link li a{
    transition: all .3s ease-in-out 0s;
    font-size: 22px;
} */

.nav-style a{
    padding: 0 20px;
}
.nav-style{
    display: flex;
    font-size: 25px;
    font-weight: 800;

}

.nav-lower
{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(32, 32, 108);
    font-size: 25px;
    font-weight: 1500;
    width: 98%;
    
     
    
}
.navlower-h3{
font-size: 19px;
}

.plants
{
    color: green;
}


.img-container
{
    position: relative;
    /* width: 300px; */
    /* display: flex; */
    
} 
/* .animation
{
    position: absolute;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    height: 68vh;
    width: 90vh;
    border-radius: 18px;
    /* padding: 1% 2%; */
    /* margin: 20px;
} */ 

.animation
{
    
    text-align: center;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-left:10%;
    padding-top: 15%;
    width: 90%;
    justify-content: center;
    border-radius:25px;
    
}

.backDesign
{
    width: 96%; 
     height: 110vh;
     align-items: center;
     justify-content: center;
     border-radius: 25px;
}
#btn
{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(32, 32, 108);
    border: none;
    border-radius: 37px;
    align-items: center;
    padding: 3.5% 7%;
    margin-top: 20px;

}
#btn:hover{
    background-color: rgb(8, 159, 219);
}

[class*="col-"]
{
    float: left;
    padding: 10px;
}

/* for mobile */
[class*"col-"]
{
    width: 100%;
}


.navbar
{
    padding: 1% 6%;
    text-align: center;
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}

.section-wave
{
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    background-color: rgb(203, 237, 252);
}

section .wave 
{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100px;
 background: url(/photo/wave.png);
 background-size: 1000px 100px;
}

section .wave
{
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


/* navbar ends here */

/* products section starts here */
.product-headline
{
    text-align: center;
    color: #062c6f;
    background-color: #fff;
    font-size: 24px;
}
 .products
{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: #fff;
    /* margin-left: 30px; */
    
    
}

.card{
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
    padding: .5rem;
    transition: all .3s;
    /* margin: auto; */
    /* width: 98%; */
    /* height: 82vh;
    width: 44vh;
    margin: 40px;
    gap: 1.5rem; */
}

.card:hover {
    box-shadow: .1rem 0.2rem 0.8rem rgba(205,202,202,1);
}

.card:hover
{
    
    background-image: url(/photo/Mandala_v2_o.svg); 
    
    
}

.product_img
{
    width: 100%;
    height: 15rem;
}
.product-body
{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}
.product-name
{
    text-align: center;
    justify-content: center;
}

.h3-coco
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}

.h3-sparkling
{
    color: green;
    font-size: 20px;
    font-weight: 1000;
}
.h3-soda
{
    color: rgb(174, 5, 5);
    font-size: 20px;
    font-weight: 1000;
}
.h3-bars
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}
#sup-style
{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 8px;
    padding: 1px;
}
.btn{
    
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 24px;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin: 20px;
    margin-left: 45px;
}
.btn-coco
{
    background-color: #062c6f;
}
.btn-sparkling
{
    background-color: green;
}
.btn-soda
{
    background-color: rgb(214, 20, 20);
}
.btn-bars
{
    background-color: #062c6f;
}
.products .coco
{
background-color: rgb(203, 237, 252);
}
.products .sparkling
{
background-color: lemonchiffon;
}
.products .soda
{
background-color: lightcoral;
}
.products .bars
{
background-color: rgb(150, 216, 242);
}

.probtn
{
    text-align: center;
    justify-content: center;
     top: 50%;
    left: 40%;
    translate: (-50%,-50%);
    position: relative;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #062c6f;
    margin: 30px;
    border: none;
    
}
.probtn a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
}
/* 
.product-name
{
    text-align: center;
    justify-content: center;
}
.h1-coco
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
} */
/*


.h1-sparkling
{
    color: green;
    font-size: 20px;
    font-weight: 1000;
}
.h1-soda
{
    color: rgb(174, 5, 5);
    font-size: 20px;
    font-weight: 1000;
}
.h1-bars
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}
#r-border
{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 8px;
    padding: 1px;
}
.btn{
    
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 24px;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin: 20px;
    margin-left: 45px;
}
.btn-coco
{
    background-color: #062c6f;
}
.btn-sparkling
{
    background-color: green;
}
.btn-soda
{
    background-color: rgb(214, 20, 20);
}
.btn-bars
{
    background-color: #062c6f;
}


.product:hover
{
    background-image: url(/photo/background.jpg);
    background-position-x: center;
    background-size: 40vh;
    background-position-y: bottom;
    background-repeat: no-repeat;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */ 
  /*  
}

.card{
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
    
    padding: 2rem;
    height: 82vh;
    width: 44vh;
    margin: 40px;
    gap: 1.5rem;
}
.img-style
{
    height: 56vh;
    width: 33vh;
    border-radius: 30px;
} */
/* .card:hover
{
    
    /* background-image: url(/photo/coconut-water-hover.jpg); */

/* .probtn
{
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 40%;
    translate: (-50%,-50%);
    position: relative;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #062c6f;
    margin: 30px;
    border: none;
}
.probtn a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
} */


/* .products .coco
{
background-color: rgb(203, 237, 252);
}
.products .sparkling
{
background-color: lemonchiffon;
}
.products .soda
{
background-color: lightcoral;
}
.products .bars
{
background-color: rgb(150, 216, 242);
} */

/* .products::after{
    content: '';
    display: table;
    clear: both;
} */
/* products sections ends here */

footer
{
    text-align: center;
    background-color: skyblue;
    color: #062c6f;
}

.logo-footer
{
    height: 50vh;
    width: 50vh;
    margin: 65px;
}

.wavy
{
    position: relative;
    width: 95%;
    height: 100px;
    /* background: red; */
    overflow: hidden;

}
.wavy::before{
    content: ' aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
    position: absolute;
    top: -42px;
    left: 0;
    padding: 4rem;
    font-size: 3em;
    color: transparent;
    text-decoration-style:wavy;
    text-decoration-color: #062c6f;
    text-decoration-line: underline;


}

.footer-end
{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
.footer-end a{
    padding: 1rem;
}


.products{
    grid-template-columns: repeat(4, minmax(0,1fr));
}

@media (max-width: 1112px)
{
    .products{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
}
@media (max-width:575px)
{
    .products{
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
}